- @title_for_layout = "Dashboard"
- @body_id = "dashboard"

.box
  %h2.header= @title_for_layout
  .content
    %a.action_button#sync_github Sync my Github
    = image_tag "ajax-loader.gif", :id => :spinner, :class => :spinner

:javascript

  $(function() {
    var repositories = new Repositories
    
    var githubSyncView = new GithubSyncView({
      collection: repositories
    })
  })
  