.pop_dialog#search_dialog
  = image_tag "close_24.png", :class => :close_dialog
  .header Search for a repo
  .inner
    .form_row
      %input{:type => :text, :class => :textbox}
    .button_container
      %input{:type => :button, :class => :action_button, :value => "Search"}