- @title_for_layout = "Repositories"
- @body_class = "repositories"
- @body_id = "repositories"

.box
  .content
    - if @repositories.size > 0
      = render :partial => "shared/repositories_list", :locals => {:repositories => @repositories}
    - else
      .form_row You don't have any repositories here.
      
      %a.action_button#sync_github Sync my Github repos
      = image_tag "ajax-loader.gif", :id => :spinner, :class => :spinner 
      
= will_paginate(@repositories)

      