- @title_for_layout = "Repositories"
- @body_class = "repositories"
- @body_id = "repositories"

.box
  .header Your watched repositories on Github (#{@repositories.count})
  .content
    %ul.repos_list
      - @repositories.each do |r|
        %li
          = link_to r.name, edit_repository_path(r), :class => :repo_name
          = link_to "Edit", edit_repository_path(r), :class => :edit_repo
          %a{:href => r.url, :target => "_blank", :class => :repo_github_url}