* {
  padding: 0;
  margin: 0; }

body {
  font-family: arial;
  font-size: 13px;
  color: #444;
  background: url(/assets/wood.jpg) center top;
  padding-bottom: 40px; }

ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

textarea {
  height: 100px !important;
  font-family: arial; }

a {
  text-decoration: none;
  outline-style: none;
  color: #B45603;
  cursor: pointer; }

.action_button {
  background: #5d3408;
  padding: 10px 18px;
  border: 1px solid #4e360d;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2)));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  box-shadow: 0 1px 0 0 #c08a2c inset;
  display: inline-block; }

#header {
  margin: 40px 0 40px;
  text-align: center; }
  #header #middle_section {
    width: 700px;
    margin: 0 auto; }
  #header #logo {
    float: left;
    margin-top: 9px; }

#nav {
  width: 464px;
  margin: 20px auto 40px;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 8px -1px #222222; }
  #nav ul {
    overflow: hidden;
    background: #E8DED3;
    padding: 7px 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 #81664A inset; }
    #nav ul li {
      float: left;
      list-style: none;
      text-align: center;
      margin-right: 22px;
      position: relative; }
      #nav ul li > a {
        font-weight: bold;
        font-size: 12px;
        display: block; }
        #nav ul li > a img {
          height: 24px;
          max-width: 24px;
          float: left;
          margin-right: 8px; }
        #nav ul li > a span {
          display: block;
          margin-top: 5px;
          float: left; }
    #nav ul li:last-child {
      margin-right: 0; }

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  z-index: 1000;
  display: none; }

#footer {
  text-align: center;
  margin-bottom: 30px; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.box {
  width: 568px;
  margin: 0 auto 20px;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 5px 17px 0px #000; }
  .box .header {
    background: -moz-linear-gradient(center top, #f5f5f5, #e1e1e1);
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e1e1e1));
    font-family: georgia;
    font-size: 17px;
    color: #555;
    padding: 14px 25px;
    border-radius: 4px 4px 0 0;
    border-left: 1px solid #bbb;
    border-top: 1px solid #bbb;
    border-right: 1px solid #bbb; }
  .box .content {
    background: #ebd8c0;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 0px 3px 0 #81664a inset;
    background: #e8ded3; }

.spinner {
  display: none; }

.repos_list li {
  background: -moz-linear-gradient(center top, white, #eeeeee);
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#eeeeee));
  padding: 14px 16px;
  overflow: hidden;
  margin: 0 0 14px;
  border-radius: 5px;
  box-shadow: 0 2px 6px -2px #888888; }
  .repos_list li a {
    color: #b45603;
    font-weight: bold;
    font-family: arial rounded mt bold; }
  .repos_list li .repo_name {
    float: left;
    display: block;
    margin-top: 2px; }
  .repos_list li .edit_repo {
    float: right;
    background: url(/assets/pin_16.png) no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    text-indent: -9999px; }
  .repos_list li .repo_github_url {
    float: right;
    background: url(/assets/details_16.png) no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    text-indent: -9999px;
    margin-right: 15px; }

.form_row {
  margin-bottom: 14px; }
  .form_row label {
    display: block;
    margin-bottom: 9px;
    font-size: 17px;
    font-family: georgia;
    color: #333; }

.textbox {
  padding: 12px 10px;
  border-radius: 4px;
  box-shadow: 0 3px 3px #706751 inset;
  font-size: 17px;
  color: #614a31;
  line-height: 17px;
  background: #d0bfaa;
  border-color: #FFF8E8;
  border-style: none none solid;
  border-width: medium medium 2px; }

.flash_notice {
  background: url(/assets/check_16.gif) no-repeat 15px 15px white;
  padding: 15px 15px 15px;
  font-size: 19px;
  width: 560px;
  margin: 10px auto 40px;
  color: #7ba81b;
  text-indent: 32px;
  box-shadow: 0 3px 9px -1px #111111;
  border-radius: 4px; }

.repo_info_list {
  margin-bottom: 20px; }
  .repo_info_list li {
    border-radius: 5px;
    margin-bottom: 14px;
    box-shadow: 0 2px 6px -2px #888888;
    background: -moz-linear-gradient(center top, white, #eeeeee);
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#eeeeee));
    padding: 15px;
    border-top: 1px solid #ddd; }
    .repo_info_list li b {
      color: #EA0A89; }

.pagination {
  width: 620px;
  margin: 40px auto;
  text-align: center;
  color: #fff !important;
  font-weight: bold;
  font-size: 14px;
  text-shadow: 0 1px 1px #000; }
  .pagination * {
    margin: 0 4px; }
  .pagination a {
    color: #fff; }
  .pagination .current {
    background: #614b33;
    font-style: normal !important;
    text-shadow: 0 0 0;
    padding: 2px 6px;
    border-radius: 3px;
    border: 1px solid #55320d;
    box-shadow: 0 1px 0 0 #A47440 inset; }

.pop_dialog {
  position: fixed;
  z-index: 2000;
  top: 140px;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  border-radius: 4px;
  box-shadow: 0 1px 8px -2px black;
  background: #e9dfd3;
  display: none; }
  .pop_dialog .close_dialog {
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer; }
  .pop_dialog .header {
    font-size: 16px;
    border-radius: 4px 4px 0 0;
    background: -moz-linear-gradient(top, #956f4b, #6a4923);
    padding: 12px 15px;
    color: #fdeede;
    box-shadow: 0 1px 1px #e1c3a2 inset; }
  .pop_dialog .inner {
    padding: 15px; }
    .pop_dialog .inner .form_row {
      margin-bottom: 10px; }
    .pop_dialog .inner .textbox {
      width: 350px; }
    .pop_dialog .inner .button_container {
      text-align: right; }

#username_pane {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 7px;
  color: #fff;
  background: rgba(0, 0, 0, 0.3); }
  #username_pane li {
    float: left;
    margin-right: 12px; }
    #username_pane li a {
      margin-top: 4px;
      display: block;
      text-shadow: 0 2px 1px #000;
      color: #fff;
      font-family: lucida sans;
      font-size: 11px;
      text-transform: uppercase; }
  #username_pane li:last-child {
    margin: 0; }
  #username_pane .user_photo {
    border: 1px solid #fff;
    width: 20px;
    box-shadow: 0 1px 1px #222; }

#dashboard #footer {
  display: none; }

#home #island {
  width: 400px;
  margin: 147px auto 0;
  text-align: center; }
  #home #island #logo {
    display: block;
    margin: 0 auto 20px; }
#home #footer {
  display: none; }

#edit_repository_form .textbox {
  width: 498px; }
#edit_repository_form .form_row {
  margin-bottom: 25px; }

#tags_list {
  margin: 8px 0; }
  #tags_list .tag_label {
    float: left;
    margin-right: 6px;
    background: #fec500;
    padding: 3px 5px 6px;
    border: 1px solid #957400;
    color: #fff;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    line-height: 12px;
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2)));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    box-shadow: 0 1px 0 0 #ffeca8 inset;
    display: inline-block; }
